@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --red: #e74c3c;
  --orange: #f39c12;
  --green: #2ecc71;
  --blue: #3498db;
  --purple: #9b59b6;
  --task-bg-color: #FFE5DB;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* page layout */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFF7EC;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 25px 0px;
  font-size: large;
}

main {
  flex: 1;
  display: flex;
  box-sizing: border-box;
}

button,
.buttons{
    border: none; 
    scale: 1.5;
    background-color: transparent;
    cursor: pointer;
}

/* Date and Home Sections */
#date,
#home {
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.date-nav,
#home button {
  background: none;
  border: none;
  font-size: medium;
}

.today{
  background: fixed;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  margin-left: 60px;
  padding: 7px 15px;
}

#home-today {
    margin-left: auto;
  }

#today:hover {
  background-color: ghostwhite;
}

#home button a,
#home button a:visited {
  color: black;
}

.date-nav:hover,
#home button a:hover,
.edit-task:hover {
  color: #976393;
}

#date h2 {
  margin: 0 15px;
}

/* Left box */
#entry-text-editor,
.calendar {
  position: relative;
  flex: 2;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 20px 70px;
  display: flex;
  flex-direction: column;
}

#entry-text-editor h2 {
  display: none;
}

#entry-text {
  width: 100%;
  height: 100vh;
  height: fit-content;
  resize: none;
  border: none;
  border-radius: 5px;
}

.CodeMirror {
  height: 100% !important;
  max-height: 400px;
}

#autosave {
  text-align: right;
  color: green;
  font-size: small;
  margin: 0px;
}


/* Right Box*/
#tasks-sentiment-rating,
#projects {
  flex: 1;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 20px 70px;
  display: flex;
  flex-direction: column;
}

#tasks-sentiment-rating h2{
  margin: 15px 7px;
}

/* Tasks Section */
#task-list {
  margin-bottom: 10px;
}

.new-task,
.newProjectButton {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 8px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.new-task{
  background-color: #FF9B82;
  width: 64%;
  margin-top: 15px;
  margin-bottom:10px;
}

.new-task:hover {
  background-color: #fe8567;
}

/* Task container styles */
#task-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.scrollable {
  max-height: 44vh;
  overflow-y: auto;
}

/* Task item layout and styling */
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: var(--task-bg-color);
  font-size: 10px;
  padding: 15px;
  margin: 10px 0px;
  position: relative;
  text-decoration: none;
}

.item-checked {
  background-color: lightgray;
}

.task-details {
  display: flex;
  padding:3px;
}

.task-details input[type="checkbox"] {
  width:30px;
}

.task-item label {
  margin-bottom: 5px;
}

.task-text>label {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.task-text {
  padding: 0px 25px;
}

.text-checked {
  text-decoration: line-through;
}

.task-tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  margin-top: 20px;
}

.task-tags label {
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 50px;
  margin-right: 10px;
  padding: 1px 10px;
  font-size: small;
}

#tag-select, #project-details-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  width: 48vw;
}
.type-label {
  background-color: #FEB800;
}

.project-label {
  background-color: #976293;
  color: white;
}

.hide {
  display: none;
}

.edit-task,
#task-item-delete {
  background-color: transparent;
  border: none;
}

#task-item-delete {
  color: red;
  margin-left: 5px;
}

#task-item-delete:hover {
  color: darkred;
}


/* Sentiment Rating Section */
#meter-section {
  margin-top: auto;
  /* Push the section to the bottom */
  padding-bottom: 15px;
}

#meter-section h2 {
  width: 100%;
  font-size: 1.8vw;
  margin-bottom: -5px;
}

#sentiments-wrap {
  display: flex;
  justify-content: space-between;
}

.face-icon {
  display: flex;
  width: 4vw;
  height: 5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  fill: currentColor;
  padding-bottom: 4px;
}

.face-icon:hover {
  transform: scale(1.2);
}

.label {
  text-align: center;
  font-size: 1vw;
}

/* Make radio button visually invisible */
input[name="feeling"] {
  opacity: 0;
  height: 0;
  width: 0;
}

input[type="radio"][value="upset"]+.face-icon path {
  fill: var(--red);
}

/* Unhappy emoji color on form */
input[type="radio"][value="unhappy"]+.face-icon path {
  fill: var(--orange);
}

/* Neutral emoji color on form */
input[type="radio"][value="neutral"]+.face-icon path {
  fill: var(--green);
}

/* happy emoji color on form */
input[type="radio"][value="happy"]+.face-icon path {
  fill: var(--blue);
}

/* Joyful emoji color on form */
input[type="radio"][value="joyful"]+.face-icon path {
  fill: var(--purple);
}

input[type="radio"]:checked+.face-icon {
  transform: scale(1.2);
}

input[type="radio"]:checked+.face-icon+#upset-label {
  color: var(--red);
}

input[type="radio"]:checked+.face-icon+#unhappy-label {
  color: var(--orange);
}

input[type="radio"]:checked+.face-icon+#neutral-label {
  color: var(--green);
}

input[type="radio"]:checked+.face-icon+#happy-label {
  color: var(--blue);
}

input[type="radio"]:checked+.face-icon+#joyful-label {
  color: var(--purple);
}


/* Modal styling (hidden by default) */
.modal,
#project-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

#project-modal{
   /* display:flex;  */
   display:none;
}

/* Style the modal content */
.modal-content
 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60vw;
  font-size: large;
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 10px;
}

.input-group #task-desc,
.input-group #project-name {
  width: 100%;
  margin-bottom: 20px;
}

#tag-select,
#project-details-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}


#tag-select .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Modal button styling */
.button-group button {
  margin-top: 50px;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
}

.save {
  background-color: green;
  color: white;
  margin-left: 12px;
}

.cancel {
  background-color: gray;
  color: white;
  margin-left:45px;
}

.delete {
  background-color: red;
  color: white;
  margin-left: auto;
  margin-right: 18px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}


#clear-entry {
  position: absolute;
  bottom: -75px;
  left: 28px;
  width: 110px;
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
}

#clear-entry:hover {
  background-color: rgb(226, 47, 47);
}





/* Homepage css */
#homepage {
  height:15%;
  width:85%; /*Percentage based on parent container size*/
  margin: 0 auto; /*Sets top and bottom margin to 0. but horizontal auto adjusts according to browser*/
  display:flex;
  align-items: center; /*Aligns content vertically in the center of the container*/
  justify-content: center; /*Aligns flex items horizontally*/
}

#homepage h1{
  color: #FF9B83;
  margin: 30px 0px;
}

/* Left */
#calendarContainer{
  display:flex;
  justify-content: flex-start;
  width: 50%;
  border-radius: 10px;
}

.calendar{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  gap: 20px;
  border-radius: 10px;
}

.header {
  width: 85%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.spacing-container{
  display: flex;
  flex-shrink:1;
}

.head-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11%;
  width: 100%;
}

#calendarContainer .buttons{
  text-align: center; 
}

.month-year {
  color: #685489;
  font-weight: bold;
  font-size: 21px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
  width: auto;
  padding: 0px 30px;
  }

#home-today{
  background-color: rgb(252, 249, 249); 
  color: #111;
  padding: 2px 9px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: auto;
}

.days{
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-weight: bold;
  background-color: white;
  padding-bottom:2%;
  
}

.day{
  background-color:white;
}

.dates{
  display:grid;
  grid-template-columns: 1fr;
  width: 100%; 
  height:100%;
}

.row{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  a{
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      cursor:default;

  }
}

.date{
  background-color: white;
  border:transparent;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 0.9rem;
  width: 50px;
  height:50px;
  margin:auto;
  cursor:pointer;
}

.highlight {
  background-color: #FFC700 !important;
  color: #fff;
  border-radius: 100%;
  width: 20% !important; 
  height: 20% !important;
  position: relative;
  z-index: 1;
}

.has-entry{
  background-color: #FFEEB3;
}

/* right */
#projects {
  align-items: center;
}

#projects h2 {
  display: flex;
  width:100%;
  background-color: white;
  font-size:1.2rem;
  border-radius: 10px;
  padding: 20px 20px 20px 6.5%;
}

.newProjectButton{
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
  background-color: #976393;
  border-radius: 5px;
  width: 58%;
  height: 7%;
  margin-top: 10px;
  margin-bottom: 20px;
  border:none;
  cursor:pointer;
}

#project-list {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; 
}

.project-item{
  width: 87%;
  margin: 0 auto;
}

.project-details{
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #D2BCD1;
  padding:5% 9%;
}

.project-item:not(:last-child) {
  margin-bottom: 20px;
}

.project-name{
  padding-top: 10px;
  font-size: medium;
}

.task-btns,
.project-btns{
  display:flex;
  justify-content: flex-end;
  gap:4%;
}

.task-btns{
  gap:30% !important;
}

.edit-project{
  background-color: transparent;
  border:none;
  padding-right: 10px;
}

.fa-pencil{
  font-size:1rem;
}

.project-item-delete{
  
  background-color: transparent;
  border:none;
}

.fa-trash{
  color:red;
  font-size:1rem;
}

.fa-chevron-left ,.fa-chevron-right{
  cursor:pointer;
}

.project-date{
  font-size:0.9rem;
  font-weight: bold;
  margin-top: -5px;
}

.project-priority{
  display: flex;
  text-align: center;
  font-weight: bold;
  padding-top:5px;
  font-size: 0.8rem;
  gap: 8px;
  width:47%;
}

/* modal*/
.project-priority .high{
  width:75%;
  background-color:white;
  border-radius: 32px;
  color: var(--red);
}

.project-priority .medium{
  width:75%;
  background-color:white;
  border-radius: 32px;
  color:#FF8C00;
}

.project-priority .low{
  width:75%;
  background-color:white;
  border-radius: 32px;
  color: var(--green);
}

footer {
  padding: 15px;
  text-align: center;
}