name: E2E Tests

on: 
  push:
     paths:
       - 'source/public/**.js'
       - 'source/__tests__/e2e/**.js'

jobs:
  test:
    name: Jest E2E
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm install
      - name: Run E2E Tests
        run: npm run test:e2e